@charset "UTF-8";

/*--------------------------Layout-Comum-das-Páginas--------------------------------*/
main {
    width: 1440px;
}
/*------------------------------Página-HOME----------------------------------------*/
#elem-top0 {
    font-size: larger;
    margin: 15px 5px 15px 5px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.el-top0 {
    padding: 10px;
}

.top01 {
    box-shadow: 4px 4px 10px black;
    box-sizing: border-box;
    transition: opacity 1s;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    justify-content: stretch;
    width: 675px;
    opacity: 0.9;
    margin-left: 8px;
}

.top02 {
    box-shadow: 4px 4px 10px black;
    box-sizing: border-box;
    transition: opacity 1s;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column nowrap;
    justify-content: stretch;
    width: 675px;
    opacity: 0.9;
    margin-right: 10px;
}
/*----------------------------Página-Laranja-Mecânica-------------------------------*/
.mm{
    font-size: x-large;
    background-color: #ffffff;
    opacity: 0.9;
    border: solid 1px black;
    text-align: center;
    box-shadow: 4px 4px 10px black;
    box-sizing: border-box;
    transition: opacity 1s;
    margin: 10px 30px 10px 30px;
    padding: 5px 0px 15px 5px;
    width: 1380px;
    height: fit-content;
}

#elemento-pai01 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center
}

.elemento-filho01 {
    padding: 0px;
    margin: 5px 5px 5px 0px;
}

.filho001 {padding: 0px;}
.filho002 {padding: 0px;}

#elemento-pai2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center
}

.elemento-filho23 {
    padding: 0px;
    margin: 5px;
}

.filho05 {
    padding-top: 35px;
    margin-left: 30px;
}
.filho06 {padding: 0px;}



/*-------------------------------Página-Maze-Runner---------------------------------*/
.mm1{
    opacity: 0.9;
    font-size: x-large;
    background-color: #ffffff;
    border: solid 1px black;
    text-align: center;
    box-shadow: 4px 4px 10px black;
    box-sizing: border-box;
    transition: opacity 1s;
    margin: 10px 30px 10px 30px;
    padding: 5px 0px 15px 5px;
    width: 1380px;
    height: fit-content;
}
#elemento-pai {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center
}

.elemento-filho {
    padding: 0px;
    margin: 5px 5px 5px 0px;
}

.filho1 {padding: 0px;}
.filho2 {padding: 0px;}

#elemento-pai0 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center
}

.elemento-filho0 {
    padding: 0px;
    margin: 5px;
}

.filho01 {margin-left: 30px;}
.filho02 {padding-top: 35px;}
